/* @font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
    unicode-range: U+000-5FF;
}


@font-face {
    font-family: 'Noto Sans JP', sans-serif;
    src: url("/fonts/NotoSansJP-Regular.otf") format("opentype");
    unicode-range: U+4E00-U+U+A5, U+4E00-9FFF, U+30??, U+FF00-FF9F, ;
} */

body {
    width: 100%;
    *zoom: 1;
}

body:before,
body:after {
    content: "";
    display: table
}

body:after {
    clear: both
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden
}

body #large-header {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -999
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Anonymous Pro', monospace; 
    font-family: 'Noto Sans JP', sans-serif;
    --main-box-bg-color: rgba(0, 0, 0, 0.644); /* Default alpha 0.6 */
    --main-box-border-color: rgba(156, 71, 173, 0.555); /* Default alpha 0.9 */
    --main-text-color: rgba(192, 148, 112, 0.945); /* Default alpha 0.9 */
    --bookmark-quickcode-color: rgb(95, 57, 131);
    --main-text-blend-mode: normal ; /* Default "color-dodge" */
}

section.left-pannel {
    display: inline;
    float: left;
    width: 23.95833333%;
    margin: 0 .52083333%;
    margin-top: 10px;
    min-height: 1px;
    height: auto;
}

section.mid-pannel {
    display: inline;
    float: left;
    width: 48.95833333%;
    margin: 0 .52083333%;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 1px;
    height: auto
}

section.right-pannel {
    display: inline;
    float: left;
    width: 23.95833333%;
    margin: 0 .52083333%;
    margin-top: 10px;
    min-height: 1px;
    height: auto
}

.terminal .terminal-output .format,
.cmd .format,
.cmd .prompt,
.cmd .prompt div,
.terminal .terminal-output div div {
    display: inline-block
}

.cmd .mask,
.cmd .clipboard {
    position: absolute;
    display: block;
    bottom: 0;
    height: 16px;
    left: -10px
}

.terminal h1,
.terminal h2,
.terminal h3,
.terminal h4,
.terminal h5,
.terminal h6,
.terminal pre,
.cmd {
    margin: 0
}

.terminal h1,
.terminal h2,
.terminal h3,
.terminal h4,
.terminal h5,
.terminal h6 {
    line-height: 1.2em
}

.wrap {
    word-wrap: break-word;
    overflow: initial
}

.cmd .clipboard {
    left: -99999px;
    clip: rect(1px, 1px, 1px, 1px);
    width: 10px;
    height: 10px;
    padding: 0;
    resize: none;
    border: none;
    z-index: 0;
    overflow: hidden;
    outline: none
}

.terminal .error {
    color: #e74c3c
}

.terminal {
    position: relative;
    overflow: hidden
}

.cmd {
    padding: 0;
    height: 1.3em;
    position: relative
}

.terminal .inverted,
.cmd .inverted,
.cmd .cursor.blink {
    background-color: transparent;
    color: transparent
}

.cmd .cursor.blink {
    -webkit-animation: terminal-blink 1s infinite steps(1, start);
    animation: terminal-blink 1s infinite steps(1, start)
}

@-webkit-keyframes terminal-blink {

    0%,
    100% {
        background-color: transparent;
        color: var(--main-text-color)
    }

    50% {
        background-color: var(--main-text-color);
        color: transparent
    }
}

@keyframes terminal-blink {

    0%,
    100% {
        background-color: transparent;
        color: var(--main-text-color)
    }

    50% {
        background-color: var(--main-text-color);
        color: transparent
    }
}

.terminal .terminal-output div div,
.cmd .prompt {
    display: block;
    line-height: 14px;
    height: auto
}

.cmd .prompt {
    float: left
}

.terminal,
.cmd {
    font-family: 'Orbitron', sans-serif !important;
    color: var(--main-text-color);
    background-color: transparent;
    font-size: 14px;
    line-height: 16px
}

.terminal-output>div {
    min-height: 14px
}

.terminal .terminal-output div span {
    font-family: 'Orbitron', sans-serif !important;
    display: inline-block;
}

.cmd span {
    float: left
}

.terminal-output span,
.terminal-output a,
.cmd div,
.cmd span,
.terminal td,
.terminal pre,
.terminal h1,
.terminal h2,
.terminal h3,
.terminal h4,
.terminal h5,
.terminal h6 {
    font-family: 'Orbitron', sans-serif !important;
/*     -webkit-touch-callout: initial; */
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

.terminal,
.terminal-output,
.terminal-output div {
    font-family: 'Orbitron', sans-serif !important;
/*     -webkit-touch-callout: none; */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* @-moz-document url-prefix() {

    .terminal,
    .terminal-output,
    .terminal-output div {
        font-family: 'Orbitron', sans-serif !important;
/*         -webkit-touch-callout: initial;
        -webkit-user-select: initial;
        -khtml-user-select: initial;
        -moz-user-select: initial;
        -ms-user-select: initial;
        user-select: initial;
    }
} */

.terminal table {
    border-collapse: collapse
}

.terminal td {
    border: 1px solid var(--main-box-border-color)
}

.terminal h1::-moz-selection,
.terminal h2::-moz-selection,
.terminal h3::-moz-selection,
.terminal h4::-moz-selection,
.terminal h5::-moz-selection,
.terminal h6::-moz-selection,
.terminal pre::-moz-selection,
.terminal td::-moz-selection,
.terminal .terminal-output div div::-moz-selection,
.terminal .terminal-output div span::-moz-selection,
.terminal .terminal-output div div a::-moz-selection,
.cmd div::-moz-selection,
.cmd>span::-moz-selection,
.cmd .prompt span::-moz-selection {
    background-color: var(--main-box-bg-color);
    color: #000
}

.terminal h1::-moz-selection,
.terminal h2::-moz-selection,
.terminal h3::-moz-selection,
.terminal h4::-moz-selection,
.terminal h5::-moz-selection,
.terminal h6::-moz-selection,
.terminal pre::-moz-selection,
.terminal td::-moz-selection,
.terminal .terminal-output div div::-moz-selection,
.terminal .terminal-output div div a::-moz-selection,
.terminal .terminal-output div span::-moz-selection,
.cmd div::-moz-selection,
.cmd>span::-moz-selection,
.cmd .prompt span::-moz-selection {
    background-color: var(--main-box-bg-color);
    color: #000
}

.terminal h1::selection,
.terminal h2::selection,
.terminal h3::selection,
.terminal h4::selection,
.terminal h5::selection,
.terminal h6::selection,
.terminal pre::selection,
.terminal td::selection,
.terminal .terminal-output div div::selection,
.terminal .terminal-output div div a::selection,
.terminal .terminal-output div span::selection,
.cmd div::selection,
.cmd>span::selection,
.cmd .prompt span::selection {
    background-color: var(--main-box-bg-color);
    color: #000
}

.terminal .terminal-output div.error,
.terminal .terminal-output div.error div {
    color: red
}

.tilda {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100
}

.clear {
    clear: both
}

.terminal a {
    color: #0f60ff
}

.terminal a:hover {
    color: red
}

#main-wrapper {
    height: auto;
    display: block;
    width: 101.04166667%;
    margin: 0 -0.52083333%;
    *zoom: 1;
    margin-bottom: 10px
}

#main-wrapper:before,
#main-wrapper:after {
    content: "";
    display: table
}

#main-wrapper:after {
    clear: both
}

#main-board {
    display: inline;
    float: left;
    width: 98.95833333%;
    margin: 0 .52083333%;
    color: var(--main-text-color);
    padding: 10px;
    background: var(--main-box-bg-color);
    border-top: var(--main-box-border-color) 1px solid;
    border-bottom: var(--main-box-border-color) 1px solid
}

#main-board .text {
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: .3em;
    mix-blend-mode: var(--main-text-blend-mode) !important;
}

#main-board .text:after {
    mix-blend-mode: var(--main-text-blend-mode) !important;
}

#main-board .image {
    *zoom: 1;
    text-align: center;
    mix-blend-mode: difference !important;
}

#main-board .image:before,
#main-board .image:after {
    content: "";
    display: table
}

#main-board .image:after {
    clear: both
}

#main-board .squares {
    margin: 15px 0 15px;
    height: 70px;
    position: relative
}

#main-board .square {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    width: 40px;
    height: 40px
}

#main-board .square.s1 {
    background-color: rgba(196, 193, 193, 0.027)
}

#main-board .square.s2 {
    background-color: rgba(0, 0, 0, 0.075)
}

#main-board .square.s3 {
    background-color: rgba(255, 255, 255, 0.034)
}

#main-board .square.s4 {
    background-color: rgba(0, 0, 0, 0.055)
}

#greetings-wrapper {
    height: auto;
    display: block;
    width: 101.04166667%;
    margin: 0 -0.52083333%;
    *zoom: 1;
    margin-bottom: 10px
}

#greetings-wrapper:before,
#greetings-wrapper:after {
    content: "";
    display: table
}

#greetings-wrapper:after {
    clear: both;
}

#greetings-board {
    display: inline;
    float: left;
    width: 98.95833333%;
    margin: 0 .52083333%;
    padding: 10px;
    color: var(--main-text-color);
    background: var(--main-box-bg-color);
    border-top: var(--main-box-border-color) 1px solid;
    border-bottom: var(--main-box-border-color) 1px solid;
}

#greetings-board p {
    text-transform: uppercase;
    letter-spacing: .3em;
    padding: 10px 0;
}

#greetings-board p.greetings-helloworld {
    color: var(--main-text-color);
    mix-blend-mode: var(--main-text-blend-mode) !important;
    font-size: 1.2em;
}

#greetings-board p.greetings-helloworld .greetings-title {
    color: var(--main-text-color);
    mix-blend-mode: var(--main-text-blend-mode) !important;
}

#greetings-board p.greetings-helloworld .greetings-name {
    color: var(--main-text-color);
    mix-blend-mode: var(--main-text-blend-mode) !important;
    font-size: 1em !important;
}

#greetings-board p.greetings-time {
    color: var(--main-text-color);
    mix-blend-mode: var(--main-text-blend-mode) !important;
    font-size: 1em !important;
}

#greetings-board p.greetings-time .time-title {
    mix-blend-mode: var(--main-text-blend-mode) !important;
}

#greetings-board p.greetings-time .time-hours,
#greetings-board p.greetings-time .time-minutes,
#greetings-board p.greetings-time .time-seconds {
    color: var(--main-text-color);
    mix-blend-mode: var(--main-text-blend-mode) !important;
}

#greetings-board p.greetings-date {
    color: var(--main-text-color);
    mix-blend-mode: var(--main-text-blend-mode) !important;
    font-size: 1em !important;
}

#greetings-board p.greetings-date .date-title {
    color: var(--main-text-color);
    mix-blend-mode: var(--main-text-blend-mode) !important;
}

#greetings-board p.greetings-date .date-day,
#greetings-board p.greetings-date .date-month,
#greetings-board p.greetings-date .date-year {
    color: var(--main-text-color);
    mix-blend-mode: var(--main-text-blend-mode) !important;
}

#greetings-board p.greetings-weather {
    color: var(--main-text-color);
    mix-blend-mode: var(--main-text-blend-mode) !important;
    font-size: 1em !important;
}

#greetings-board p.greetings-weather .weather-title {
    color: var(--main-text-color);
    mix-blend-mode: var(--main-text-blend-mode) !important;
}

#greetings-board p.greetings-weather .weather-current,
#greetings-board p.greetings-weather .weather-max,
#greetings-board p.greetings-weather .weather-min {
    color: var(--main-text-color);
    font-size: 0.8em !important;
    mix-blend-mode: var(--main-text-blend-mode) !important;
}


#terminal-wrapper {
    height: auto;
    display: block;
    width: 101.04166667%;
    margin: 0 -0.52083333%;
    *zoom: 1;
    margin-bottom: 10px;
    font-family: 'Anonymous Pro', monospace !important;
}

#terminal-wrapper:before,
#terminal-wrapper:after {
    content: "";
    display: table;
}

#terminal-wrapper:after {
    clear: both;
}

#terminal-board {
    font-family: 'Anonymous Pro', monospace !important;
    display: inline;
    float: left;
    width: 98.95833333%;
    margin: 0 .52083333%;
    color: var(--main-text-color);
    background: var(--main-box-bg-color);
    border-top: var(--main-box-border-color) 1px solid;
    border-bottom: var(--main-box-border-color) 1px solid;
}

#terminal-board .terminals {
    font-family: 'Anonymous Pro', monospace !important;
    display: inline;
    float: left;
    width: 98.95833333%;
    margin: 0 .52083333%;
    padding: 10px;
    mix-blend-mode: var(--main-text-blend-mode);
}

#terminal-board .terminal-term {
    visibility: hidden;
    display: none;
    font-family: 'Anonymous Pro', monospace !important;
    mix-blend-mode: var(--main-text-blend-mode);
}

#terminal-board .terminal-term .terminal {
    height: 69.5px;
    font-family: 'Anonymous Pro', monospace !important;
    mix-blend-mode: var(--main-text-blend-mode);
}

#terminal-board .terminal-term.active {
    visibility: visible;
    display: block;
    font-family: 'Anonymous Pro', monospace !important;
    mix-blend-mode: var(--main-text-blend-mode);
}

#terminal-board #tabs {
    font-family: 'Anonymous Pro', monospace !important;
    display: inline;
    float: left;
    width: 98.95833333%;
    margin: 0 .52083333%;
    border-bottom: var(--main-box-border-color) 1px solid;
    mix-blend-mode: var(--main-text-blend-mode);
}

#terminal-board #tabs span {
    font-family: 'Anonymous Pro', monospace !important;
    display: inline-block;
    padding: 5px 10px;
    color: rgba(122, 58, 175, 0.9);
    cursor: pointer;
    mix-blend-mode: var(--main-text-blend-mode);
}

#terminal-board #tabs span.active {
    color: var(--main-text-color);
}



#favorites-wrapper {
    height: auto;
    display: block;
    width: 101.04166667%;
    margin: 0 -0.52083333%;
    *zoom: 1;
    margin-bottom: 10px
}

#favorites-wrapper:before,
#favorites-wrapper:after {
    content: "";
    display: table
}

#favorites-wrapper:after {
    clear: both
}

#favorites-board {
    display: inline;
    float: left;
    width: 98.95833333%;
    height: 539px !important; /* Jesus Christ doot is picky af */
    margin: 0 .52083333%;
    color: var(--main-text-color);
    padding: 10px;
    background: var(--main-box-bg-color);
    border-top: var(--main-box-border-color) 1px solid;
    border-bottom: var(--main-box-border-color) 1px solid
}

#favorites-board .text {
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: .3em;
    mix-blend-mode: var(--main-text-blend-mode) !important;
}

#favorites-board .favorites {
    *zoom: 1;
}

#favorites-board .favorites:before,
#favorites-board .favorites:after {
    content: "";
    display: table
}

#favorites-board .favorites:after {
    clear: both
}

#favorites-board .favorites .favorite {
    display: block;
    display: inline;
    float: left;
    width: 32.29166667%;
    margin: 0 .52083333%;
    *zoom: 1;
    margin-bottom: 20px
}

#favorites-board .favorites .favorite:before,
#favorites-board .favorites .favorite:after {
    content: "";
    display: table
}

#favorites-board .favorites .favorite:after {
    clear: both
}

#favorites-board .favorites .favorite p.title {
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .3em;
    mix-blend-mode: var(--main-text-blend-mode) !important;
}

#favorites-board .favorites .favorite ul,
#favorites-board .favorites .favorite li {
    list-style: none
}

#favorites-board .favorites .favorite ul span,
#favorites-board .favorites .favorite li span {
    display: inline-block
}

#favorites-board .favorites .favorite ul span.short,
#favorites-board .favorites .favorite li span.short {
    display: inline;
    float: left;
    width: 23.95833333%;
    margin: 0 .52083333%
}

#favorites-board .favorites .favorite ul span.short a,
#favorites-board .favorites .favorite li span.short a {
    color: var(--bookmark-quickcode-color);
    text-decoration: none;
    mix-blend-mode: var(--main-text-blend-mode) !important;
    font-family: 'Open Sans', sans-serif !important;
}

#favorites-board .favorites .favorite ul span.link,
#favorites-board .favorites .favorite li span.link {
    display: inline;
    float: left;
    width: 73.95833333%;
    margin: 0 .52083333%
}

#favorites-board .favorites .favorite ul span.link a,
#favorites-board .favorites .favorite li span.link a {
    color: var(--main-text-color);
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    mix-blend-mode: var(--main-text-blend-mode) !important;
    font-family: 'Open Sans', sans-serif !important;
}

#search-wrapper {
    height: auto;
    display: block;
    width: 101.04166667%;
    margin: 0 -0.52083333%;
    *zoom: 1;
    margin-bottom: 10px
}

#search-wrapper:before,
#search-wrapper:after {
    content: "";
    display: table
}

#search-wrapper:after {
    clear: both
}

#search-board {
    display: inline;
    float: left;
    width: 98.95833333%;
    margin: 0 .52083333%;
    color: var(--main-text-color);
    padding: 10px;
    background: var(--main-box-bg-color);
    border-top: var(--main-box-border-color) 1px solid;
    border-bottom: var(--main-box-border-color) 1px solid
}

#search-board .text {
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: .3em;
    mix-blend-mode: var(--main-text-blend-mode) !important;
}

#search-board input {
    background-color: var(--main-box-bg-color);
    color: var(--main-text-color);
    border: 1px solid var(--main-box-border-color);
    width: 100%;
    padding: 2px 5px;
    outline: none
}

